[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/WebstackPortfolio/WebstackPortfolio
ExecStart=/home/ubuntu/WebstackPortfolio/new_env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/WebstackPortfolio/WebstackPortfolio/WebstackPortfolio.sock WebstackPortfolio.wsgi:application

       
[Install]
WantedBy=multi-user.target