{% extends 'sidepane.html' %}
{% block headercontent %}
<style>
    .stu {
        padding-left: 10%;
        padding-right: 10%;
    }
</style>
{% endblock %}

{% block content %}
<div class="stu">
    <h1> Concepts </h1>
    <div class="text-center">
        <table class="table table-bordered">
            <tbody>
                {% if concepts %}
                {% for concept in concepts %}
                <tr>
                    <td><a href="{% url 'concept' concept.concept_title %}">{{concept.concept_title}}</a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}