{% extends 'sidepane.html' %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Peer learning daya section -->
        <section>
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Peer Learning Days</th>
              </tr>
            </thead>
            <tbody>
              <tr class="danger">
                <td>John</td>
              </tr>
              <tr>
                <td>Mary</td>
              </tr>
              <tr>
                <td>July</td>
              </tr>
            </tbody>
          </table>
        </section>
        <!-- Task Section -->
        <section>
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Current Projects</th>
              </tr>
            </thead>
            <tbody>
              <tr class="danger">
                <td>John</td>
              </tr>
              <tr>
                <td>Mary</td>
              </tr>
              <tr>
                <td>July</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <div class="col-sm-6">
        <!--Marks Section -->
        <section>
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>SE Foundations</th><th>Score</th>
              </tr>
            </thead>
            {% for mark in marks %}
            <tbody>
              {% if mark.mark < 70 %}
              <tr class="danger">
                <td>
                  Month#{{mark.month_id}}<td class="text-end">{{mark.mark}}<i class='fa fa-times-circle' style="color:red"></i></td>
                </td>
              </tr>
              {% else %}
              <tr>
                <td>
                  Month#{{mark.month_id}}<td class="text-end">{{mark.mark}}<i class='fa fa-check-circle' style="color:green"></i></td>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock %}
