{% extends 'sidepane.html' %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
	<!-- Peer learning daya section -->
	<section>
	    <table class="table table-bordered">
	      <thead>
		<tr  class="active">
		  <th>Peer Learning Days</th>
		</tr>
	      </thead>
	      <tbody>
		<tr class='danger'>
		  <td>John</td>
		</tr>
		<tr>
		  <td>Mary</td>
		</tr>
		<tr>
		  <td>July</td>
		</tr>
	      </tbody>
	    </table>
	</section>
	<!-- Task Section -->
	<section>
	    <table class="table table-bordered">
	      <thead>
		<tr  class="active">
		  <th>Current Projects</th>
		</tr>
	      </thead>
	      <tbody>
		<tr class='danger'>
		  <td>John</td>
		</tr>
		<tr>
		  <td>Mary</td>
		</tr>
		<tr>
		  <td>July</td>
		</tr>
	      </tbody>
	    </table>
	</section>
      </div>
      <div class="col-sm-6">
	<!--Marks Section -->
	<section>
	    <table class="table table-bordered">
	      <thead>
		<tr  class="active">
		  <th>Scores - SE Foundations</th>
		</tr>
	      </thead>
	      <tbody>
		<tr class='danger'>
		  <td>John</td>
		</tr>
		<tr>
		  <td>Mary</td>
		</tr>
		<tr>
		  <td>July</td>
		</tr>
	      </tbody>
	    </table>
	</section>
      </div>
    </div>
  </div>
</section>
{% endblock %}
