{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>PAGE TITLE</title>

<!-- Standard Meta Tags -->
<meta name="description" content="This is my first HTML page.">
<meta name="keywords" content="HTML, web, beginner">
<meta name="author" content="Your Name">
<meta name="robots" content="index, follow">

<!-- Open Graph (OG) Meta Tags -->
<meta property="og:title" content="My First HTML Page">
<meta property="og:description" content="This is my first HTML page.">
<meta property="og:image" content="https://example.com/my-image.jpg">
<meta property="og:url" content="https://example.com/my-page">
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@yourtwitterhandle">
<meta name="twitter:title" content="My First HTML Page">
<meta name="twitter:description" content="This is my first HTML page.">
<meta name="twitter:image" content="https://example.com/my-image.jpg">

<!-- Favicon -->
<link rel="icon" href="favicon.ico" type="image/x-icon">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">