{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ title }}</title>
    <link
      rel="icon"
      href="{% static 'images/homepage_ico.ico' %}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />

    <!-- All CSS -->
    <style>
      .navbar-custom {
        border-radius: 30px;
      }
      .welcome_message {
        font-size: 24px;
      }
    </style>
  </head>
  <body>

    {% comment %} navbar {% endcomment %}

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
      <div class="container">
        <a href="{% url 'dashboard' %}" class="navbar-brand">
          <span class="text-warning">NLX-</span>Experience
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse" data-bs-target"#navmenu"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="font-size: 18px"
                >Concepts</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="font-size: 18px"
                >Questions</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'login' %}"
                style="font-size: 18px"
                >Login</a
              >
            </li>
            <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Enrol Now</a>

          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-dark text-light p-5 pt-lg-5 text-center text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1 class="mx-4">Become a<span class="text-warning"> Web developer</span></h1>
            <p class="lead my-4">
              OOPS! Apologies We are currently undrgoing maintanance. Meanwhile enjoy the student dashboard and the features offered😊
            </p>
            <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">Dashboard</a>
          </div>
          <img class="img-fluid w-50 d-none d-sm-block mx-4" src="{% static 'images/ppic.png' %}" alt="IMAGE HERE">
        </div>
      </div>
    </section>

    <!-- Newsletter -->

    <section class="bg-primary text-light p-5">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3 mb-md-0">Signup for Our Newsletter</h3>
          <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="Enter Email">
            <button class="btn btn-dark btn-lg" type="button">Button</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Boxes -->

    <section class="p-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop-fill"></i>
                </div>
                <h3 class="card-title mb-3">Virtual</h3>
                <p class="class-text">
                  Open To Students Worldwide.
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop-fill"></i>
                </div>
                <h3 class="card-title mb-3">Virtual</h3>
                <p class="class-text">
                  Open To Students Worldwide.
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop-fill"></i>
                </div>
                <h3 class="card-title mb-3">Virtual</h3>
                <p class="class-text">
                  Open To Students Worldwide.
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
