{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>alx Sessions - new | Intranet</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/login.css' %}"
    />
  </head>
  <body class="env_production">
    <main>
      <div id="layout-bars"></div>
      <article class>
        <div class="logged_out_form">
          <h2 class="my_logo">
            <img src="{% static 'images/my_png.jpg' %}" alt="ALX LOGO" />
          </h2>
          <form
            class="sm_gap"
            id="new_user"
            action="{% url 'login' %}"
            accept-charset="UTF-8"
            method="post"
          >
            {% csrf_token %}
            <div class="login_field">
              <label class="control-label" for="user_email">Email</label>
              <br />
              <input type="text" name="username"/>
            </div>
            <div class="login_field">
              <label class="control-label" for="user_password">Password</label>
              <br />
              <input
                type="password"
                name="user_password" 
              />
                </div>
                <div class="field">
                  <input type="hidden" autocomplete="off"><input type="checkbox" value="1">
                  <label class="control-label" for="user_remember_me">Remember me</label>
                </div>
                
                <div class="login_action">
                  <input type="submit" name="commit" >
                </div>
                </div>
          </form>
          <ul class="forgot_password">
            <li>
              <a href="">Forgot your password?</a>
            </li>
          </ul>
        </div>
      </article>
      <div class="copyright">Copyright © 2024 OLX, All rights reserved.</div>
    </main>
  </body>
</html>
