{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My profile | Johannesburg</title>
    <link
      rel="icon"
      href="{% static 'images/profile.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/profile.css' %}"
    />
  </head>
  <body>
    <main>
      <article class="pending_log">
        <h1>My profile</h1>
        <h2 class="gap">Edit your profile</h2>
        <form class="form-horizontal gap" accept-charset="UTF-8" method="post">
          <div class="profile_pic" style="margin-bottom: 5px">
            <div class="col-sm-10 col-sm-offset-2">
              <img src="" alt="Profile Picture" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label mandatory" for="user_photo"
              >Photo</label
            >
            <div class="col-sm-10">
              <input
                id="user_photo"
                class="form-control file-size-validation"
                accept="image/png, image/jpeg"
                type="file"
              />
              <p class="help-block">
                Please upload a square shaped picture. Max 2MB. formats allowed:
                jpg, png and gif
              </p>
            </div>
          </div>
          <hr />
          <div class="form-group gap">
            <label class="col-sm-2 control-label mandatory" for="user_discord"
              >Discord</label
            >
            <div class="col-sm-10">
              <div class="hstack gap-5">
                <img
                  class="rounded-circle"
                  style="height: 32px; width: 32px"
                  src="https://cdn.discordapp.com/embed/avatars/4.png"
                  alt="Discord Avatar"
                />
                <span class="fw-semibold">USER NAME</span>
              </div>
            </div>
          </div>
          <div class="form-group gap">
            <label
              class="col-sm-2 control-label mandatory"
              for="user_preferred_first_name"
              >Preferred first name</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                maxlength="255"
                size="255"
                type="text"
              />
              <p class="help-block">How you want others to address you.</p>
            </div>
          </div>
          <div class="form-group gap">
            <label class="col-sm-2 control-label" for="user_first_name"
              >First name</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                disabled="disabled"
                maxlength="255"
                size="255"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="user_middle_names"
              >Middle name(s)</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                disabled="disabled"
                maxlength="255"
                size="255"
                type="text"
              />
              <p class="help-block">
                This will not be visible to other learners.
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="user_last_name"
              >Last name</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                disabled="disabled"
                maxlength="255"
                size="255"
                type="text"
              />
              <p class="help-block">
                Please input your <strong>legal</strong> full name. If updates
                are needed, please ask staff for assistance.
              </p>
            </div>
          </div>
          <hr class="gap_user_info" />
          <h2 class="gap_user_info">Technical information</h2>
          <div class="form-group gap">
            <label class="col-sm-2 control-label" for="user_ssh_public_key"
              >SSH public key</label
            >
            <div class="col-sm-10">
              <input class="form-control" type="text" />
            </div>
          </div>
          <div class="form-group gap">
            <label class="col-sm-2 control-label" for="user_project_website_url"
              >Project website url</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                maxlength="255"
                size="255"
                type="text"
              />
            </div>
          </div>
          <div class="form-group gap">
            <label class="col-sm-2 control-label" for="user_datadog_api_key"
              >Datadog api key</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                maxlength="255"
                size="255"
                type="text"
              />
            </div>
          </div>
          <div class="form-group gap">
            <label
              class="col-sm-2 control-label"
              for="user_datadog_application_key"
              >Datadog application key</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                maxlength="255"
                size="255"
                type="text"
              />
            </div>
          </div>
          <h2 class="gap">Working Status</h2>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="user_Inform the staff"
              >Inform the staff</label
            >
            <div class="col-sm-10">
              <a class="btn btn-default" href="">🎉I Got a Job! 🎉🤣🤣🤣</a>
              <h2 class="gap">Deferment</h2>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <p>
                Falling behind? In need of a break? Or simply willing to get
                your head around a topic you recently learned?
              </p>
              <p>
                Please request a deferment to a future cohort by clicking
                <a href="">here</a>
              </p>
            </div>
          </div>
          <div class="form-group gap submit-file">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" name="commit" class="btn btn-primary" />
            </div>
          </div>
          <hr class="gap" />
        </form>
        <p class="text-right"></p>
      </article>
      <div class="copyright">Copyright 2024</div>
    </main>
  </body>
</html>
