{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Sandboxes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      href="{% static 'images/web_term.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/sandbox.css' %}" />
  </head>
  <body>
    <div class="specialization"></div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <!-- Column to occupy 12/12 of the row width -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">My Sandboxes</h2>
              <h3 class="card-subtitle">Subtitle</h3>
              <div class="card-text">
                ghsdhkjadbkhvb bavbhgfvbmhnvfsmahvanhgfva
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="fixed-size">
        <div class="btn-group-vertical mb-5">
          <a href="#" class="btn btn-outline-primary" gy-5>
            <i class="bi bi-file-earmark-code"></i>
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />OLX
          </a>
        </div>
        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Curriculums</span>
          </a>
        </div>
        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Concepts</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Conference rooms</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Servers</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Sandboxes</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Tools</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Video on demand</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Peers</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Captain's Log</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">Discord</span>
          </a>
        </div>

        <div class="container mb-5">
          <a class="btn btn-outline-secondary btn-lg" href="#">
            <img
              src="{% static 'images/web_term.ico' %}"
              alt="icon"
              class="icon"
            />
            <span class="text">My Profile</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
