/* Reset default margin and padding */
body,
html {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the body */
body {
  background-color: #f0f0f0;
}

/* Style for the login form container */
.logged_out_form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for text inputs */
.logged_out_form input[type='text'],
.logged_out_form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style for the login button */
.logged_out_form button {
  background-color: blueviolet;
  color: white;
  padding: 24px 24px;
  width: 95%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style for the "Forgot password?" link */
.forgot_password {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

.forgot_password a {
  color: #007bff;
  text-decoration: none;
}

.forgot_password a:hover {
  text-decoration: underline;
}
