body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
}

.logged_out_form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logged_out_form input[type='text'],
.logged_out_form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.forgot_password {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

.forgot_password a {
  margin-top: 10px;
  color: #ff0000;
  text-decoration: none;
}
.forgot_password a:hover {
  text-decoration: underline;
}
.logged_out_form .login_field label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.logged_out_form label {
  text-align: center;
}
.copyright {
  text-align: right;
  padding-right: 40px;
  font-weight: 14px;
  margin-top: 120px;
}
.control-label {
  font-weight: bold;
}
.login_field input[type='checkbox'] {
  vertical-align: middle;
}
.logged_out_form label.control-label {
  margin-bottom: 5px;
  margin-top: 15px;
}

h2.my_logo img {
  width: 100px !important;
  margin: 0 auto;
}
h2.my_logo {
  text-align: center;
}
.field {
  text-align: center;
  margin-bottom: 15px;
}
.login_action input[type='submit'] {
  display: inline-block;
  background-color: blueviolet;
  color: white;
  padding: 10px 10px;
  width: 30%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}
.login_action input[type='submit']:hover {
  background-color: #0056b3;
  box-shadow: 6px 6px 6px red;
}
.login_action {
  text-align: center;
}

.login_action input[type='submit']:active {
  background-color: rgba(0, 0, 255, 0.945);
}
input[type='password'] + label {
  padding-right: 10px;
}
form {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: aktiv-grotesk, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  text-align: center;
  text-size-adjust: 100%;
}
.logged_out_form {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(231, 231, 231);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(231, 231, 231);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(231, 231, 231);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(231, 231, 231);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(238, 238, 238) 5px 5px 5px 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: aktiv-grotesk, sans-serif;
  font-size: 14px;
  height: 481px;
  line-height: 20px;
  margin-bottom: 50px;
  margin-left: 163.5px;
  margin-right: 163.5px;
  margin-top: 50px;
  max-width: 400px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  text-align: center;
  text-size-adjust: 100%;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin: 50px auto;
}
