body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
}

.logged_out_form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logged_out_form input[type='text'],
.logged_out_form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.logged_out_form button {
  background-color: blueviolet;
  color: white;
  padding: 10px 10px;
  width: 40%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}

.logged_out_form button:hover {
  background-color: #0056b3;
  box-shadow: 6px 6px 6px red;
}

.logged_out_form button:active {
  background-color: rgba(0, 0, 255, 0.945);
}

.forgot_password {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

.forgot_password a {
  color: #ff2a00;
  text-decoration: none;
}

.forgot_password a:hover {
  text-decoration: underline;
}
.logged_out_form .login_field label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.logged_out_form label {
  text-align: center;
}
.copyright {
  text-align: right;
  padding-right: 40px;
  font-weight: 14px;
}
.control-label {
  font-weight: bold;
}
.login_field input[type='checkbox'] {
  vertical-align: middle;
}
.logged_out_form label.control-label {
  margin-bottom: 5px;
  margin-top: 15px;
}
.logged_out_form input[type='text'],
.logged_out_form input[type='password'] {
  margin-bottom: 0px;
}

/* Targeting elements */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

/* Targeting classes */
.pending_log {
  margin: 20px;
}

.gap {
  margin-top: 10px;
}

.form-horizontal {
  width: 100%;
}

.profile_pic img {
  width: 100px;
  height: 100px;
}

.form-group {
  margin-bottom: 15px;
}

.control-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.help-block {
  font-style: italic;
  color: #888;
}

.gap_user_info {
  margin-top: 20px;
}

.submit-file input[type='submit'] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.copyright {
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  color: #888;
}
