body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
}

.logged_out_form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logged_out_form input[type='text'],
.logged_out_form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.logged_out_form button {
  background-color: blueviolet;
  color: white;
  padding: 10px 10px;
  width: 95%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logged_out_form button:hover {
  background-color: #0056b3;
  box-shadow: 6px 6px 6px red;
}

.logged_out_form button:active {
  background-color: rgba(0, 0, 255, 0.945);
}

.forgot_password {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

.forgot_password a {
  color: #00c3ff;
  text-decoration: none;
}

.forgot_password a:hover {
  text-decoration: underline;
}
.logged_out_form .login_field label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
